<div style="display:inline-block; vertical-align:top;">
  <div style="display: inline-block;">
    <img *ngIf="value.Reviewed == true" src="/assets/reviewed.png" style="width:50px; float:left; margin-top:10px; margin-right:20px;">
    <img *ngIf="value.Reviewed == null || value.Reviewed == false" src="/assets/unreviewed.png" style="width:50px; float:left;  margin-top:10px; margin-right:20px;">
    <h3 style="float:left;"><a [routerLink]="['/memory',key]">{{value.Name}}</a></h3>  
  </div>  
  <!-- <span>Created: {{value.Created * 1000 | amTimeAgo}}</span> -->
  <br *ngIf="value.Modified != null">
  <span *ngIf="value.Modified != null" style="margin-left: 70px;">Modified: {{value.Modified * 1000 | amTimeAgo}}</span>
</div>
<div style="vertical-align:middle; float:right; padding-top:15px;">
  <img *ngIf="this.shouldDisplayFeatureIcon && this.isFeatured" src="/assets/featured.jpeg" style="width:200px; margin-right:10px;">
  <button (click)="censorMemory();" class="btn btn-default">Censor</button>
</div>
